@use "variable";

.sign-up-wrapper {
  @include variable.display;
  width: 100%;
  height: 100vh;
  gap: 2rem;

  @include variable.respond-to(tablet) {
    padding: 1.5rem 1rem;
    border-radius: 2rem;
    width: 45rem;
    height: 35rem;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
  }

  @include variable.respond-to(laptop) {
    gap: 0;
    padding: 1.5rem 0rem 1.5rem 1.5rem;
    width: 52rem;
    height: 35rem;
  }

  .image-wrapper {
    width: 100%;
    .mobileImg {
      width: 100%;
    }

    .deskImg {
      display: none;
    }

    @include variable.respond-to(tablet) {
      height: 100%;
      width: 30rem;

      .mobileImg {
        display: none;
      }

      .deskImg {
        width: 100% !important;
        height: 100%;
        display: flex;
      }
    }

    @include variable.respond-to(laptop) {
      height: 100%;
      width: 30rem;

      .deskImg {
        display: flex;
      }
    }
  }

  .bottom-wrapper {
    height: auto;
    @include variable.display;

    @include variable.respond-to(tablet) {
      padding: 1.5rem;
      gap: 2rem;
      h1 {
        color: variable.$CharcoalGrey;
        font-size: 2rem;
      }
    }

    @include variable.respond-to(laptop) {
      padding: 4rem 2rem;
      gap: 2rem;
      h1 {
        color: variable.$CharcoalGrey;
        font-size: 2rem;
      }
    }

    .message-wrapper {
      @include variable.display;
      padding: 1rem 1.75rem;
      gap: 1.5rem;

      h1 {
        color: variable.$CharcoalGrey;
        font-size: 2.5rem;
      }

      @include variable.respond-to(tablet) {
        height: auto;
        padding: unset;
        h1 {
          color: variable.$CharcoalGrey;
          font-size: 2rem;
        }
      }
    }

    .list-wrapper {
      @include variable.display;
      gap: 1rem;

      p {
        line-height: 1.5rem;
        @include variable.display($flex-direction: row);
        gap: 1rem;
        align-items: flex-start;
        color: variable.$DarkSlateGrey;
      }
    }

    .form-wrapper {
      padding: 0 1.5rem 2.5rem;
      @include variable.display;

      @include variable.respond-to(tablet) {
        padding: unset;
      }

      .label-wrapper {
        display: flex;
        justify-content: space-between;
        label,
        .msg {
          font-size: 0.75rem;
          margin-bottom: 0.5rem;
          font-weight: 700;
        }

        .msg {
          color: variable.$Tomato;
        }
      }

      .valid {
        border-radius: 0.75rem;
        border: 1px solid rgb(202, 205, 221);
        outline: none;
        padding: 0.9rem;
        margin-bottom: 1.5rem;
        &:hover {
          cursor: pointer;
          border: 1px solid variable.$DarkSlateGrey;
        }

        @include variable.respond-to(tablet) {
          margin-bottom: 1rem;
        }

        @include variable.respond-to(laptop) {
          margin-bottom: 1.5rem;
        }
      }

      .invalid {
        border-radius: 0.75rem;
        border: 1px solid variable.$Tomato;
        outline: none;
        padding: 0.9rem;
        margin-bottom: 1.5rem;
        &:hover {
          cursor: pointer;
        }
      }
      button {
        background: variable.$DarkSlateGrey;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        padding: 1rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: white;
        cursor: pointer;
        &:hover {
          background: linear-gradient(
            to left,
            hsla(4, 100%, 67%, 0.5),
            hsl(4, 100%, 67%)
          );
          -webkit-box-shadow: 0px 15px 20px -5px hsla(4, 100%, 67%, 0.5);
          box-shadow: 0px 15px 20px -5px hsla(4, 100%, 67%, 0.5);
        }
      }
    }
  }
}
