//  Primary //

$Tomato: hsl(4, 100%, 67%);

//  Primary //

//  NEUTRAL //

$DarkSlateGrey: hsl(234, 29%, 20%);
$CharcoalGrey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);

//  NEUTRAL //

// MIXINS //

@mixin display($display: flex, $flex-direction: column) {
  display: $display;
  flex-direction: $flex-direction;
} // MIXINS //

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (min-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $breakpoint == laptop {
    @media screen and (min-width: $breakpoint-laptop) {
      @content;
    }
  }
}
